.one_test_link:hover .mega-hover-mh {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.mega-hover-mh:hover, .mega-hover-mh:focus {
	text-decoration: none;
}
.desc-wrap {
	word-wrap: break-word;
	padding: 10px;
	margin: 10px auto;
	width: 100%;
}

#ov_desc {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5000;
}
.ico_gall_img {
	padding: 0;
	margin-bottom: 30px;
	width: 160px;
	max-width: 100%;
	height: 160px;
}
.ico_thumb_img {
	padding: 0;
	margin-bottom: 30px;
	width: 60px;
	max-width: 100%;
}
.gall-img {
	padding: 0;
	margin: 0;
	width: 345px;
	max-width: 100%;
	height: 320px;
}
.pub_post, .can_video {
   position: relative;
   padding-bottom: 56.25%;
   overflow: hidden;
}
.pub_post .fb-post, .can_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

