.one_test_link:hover .mega-hover-mh {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.mega-hover-mh:hover, .mega-hover-mh:focus {
	text-decoration: none;
}
.desc-wrap {
	word-wrap: break-word;
	padding: 10px;
	margin: 10px auto;
	width: 100%;
	font-size: 15px;
	font-weight: 100;
}
.desc-wrap p b {
	font-weight: bolder;
}

#ov_desc {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5000;
}
.ico_gall_img {
	padding: 0;
	margin-bottom: 30px;
	width: 160px;
	max-width: 100%;
	height: 160px;
}
.ico_thumb_img {
	padding: 0;
	margin-bottom: 5px;
	width: 45px;
	max-width: 100%;
}
.gall-img {
	padding: 0;
	margin: 0;
	width: 345px;
	max-width: 100%;
	height: 320px;
}
.can_video {
   position: relative;
   padding-bottom: 65.25%;
   overflow: hidden;
}
.can_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pub_post {
   position: relative;
   padding-bottom: 57.2%;
   overflow: hidden;
}
.pub_post .fb-post {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.boton-top{
	display: none;
	color: #fff;
	background: #0099A8;
	cursor: pointer;
	padding: 10px;
	left: 35px;
	position: absolute;
	bottom: 0px;

}
/* AJAX Gif y mensajes de exito o fracaso */

	.ajaxgif{
	    position: absolute;
	    left: 856px;
	    top: 285px;
	}
	.msg{
	    color: white;
	    font-weight: bold;
	    height: 32px;
	    line-height: 32px;
	    padding: 0 10px;
	    position: absolute;
	    right: 680px;
	    text-transform: uppercase;
	    min-width: 121px;
	}
	.msg_ok{
	    background: #248a97;
	}
	.msg_error{
	    background: #b92c28;
	}
