.one_test_link:hover .mega-hover-mh {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.mega-hover-mh:hover, .mega-hover-mh:focus {
	text-decoration: none;
}

/* Modal Window */
	/* Overlay Login, Overlay Contact, Overlay recover Password */
		#panel-conf-ia{
			margin: 0 auto;
			-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;
		}
		.overlay-conf-ia {
			-webkit-background-size: 100% 100%;
			-moz-background-size: 100% 100%;
			background-size: 100% 100%;
			bottom: 0;
			cursor: default;
			left: 0;
			opacity: 0;
			position: fixed;
			right: 0;
			top: 0;
			visibility: hidden;
			z-index: 1015;

			-webkit-transition: opacity .5s;
			-moz-transition: opacity .5s;
			-ms-transition: opacity .5s;
			-o-transition: opacity .5s;
			transition: opacity .5s;
		}
		.overlay-conf-ia:target {
			visibility: visible;
			opacity: 1;
			z-index: 9999;
		}
		.popup-conf-ia{
			left: 50%;
			opacity: 0.2;
			padding: 10px;
			position: fixed;
			text-align: justify;
			top: 40%;
			visibility: hidden;
			z-index: 1020;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-transition: opacity .5s, top .5s;
			-moz-transition: opacity .5s, top .5s;
			-ms-transition: opacity .5s, top .5s;
			-o-transition: opacity .5s, top .5s;
			transition: opacity .5s, top .5s;
		}
		.overlay-conf-ia:target+.popup-conf-ia{
			top: 50%;
			opacity: 1;
			visibility: visible;
			-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;
			z-index: 99999;
		}
		.close {
			position: absolute;
			right: 25px;
			top: 25px;
			width: 26px;
			height: 26px;
			cursor: pointer;
			z-index: 1200;
		}
		.close:hover{
			padding: 6px 13px 6px 13px;
			-webkit-filter: grayscale(0.9);
		}
		.close:hover{
			-webkit-filter: grayscale(0.9);
		}
	/* END Login, END Contact, END recover Password */
/* END Modal Window */
