@charset "UTF-8";

@font-face {
  font-family: "talent-plus";
  src:url("../fonts/talent-plus.eot");
  src:url("../fonts/talent-plus.eot?#iefix") format("embedded-opentype"),
    url("../fonts/talent-plus.woff") format("woff"),
    url("../fonts/talent-plus.ttf") format("truetype"),
    url("../fonts/talent-plus.svg#talent-plus") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "talent-plus" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tpi-"]:before,
[class*=" tpi-"]:before {
  font-family: "talent-plus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tpi-coaching:before {
  content: "\e000";
}
.tpi-conferencias:before {
  content: "\e001";
}
.tpi-talleres:before {
  content: "\e002";
}
.tpi-teamwork:before {
  content: "\e003";
}
